body {background-color: rgba(202, 147, 46, 0.89);}
header {background-image:url("topview.jpg") ;}
.text-to-pic {
    display: flex; 
    position: relative;
}
.pic-text{
    position: absolute;
    top: -15px;
    height: 100px;
}
h1,h2,h3 {
    font-family:"Dancing Script",sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 4rem;
    display:flex;
    justify-content: center;
}
h2 {
    font-size: 3rem;
    display:flex;
    justify-content: center;
}
h3 {
    font-size: 2rem;
    display:flex;
    justify-content: center;
}
p {
    padding:1rem;
    background-color: rgba(31, 32, 32, 0.5);
    border-radius: 0.33rem;
    color: white;   
}
#more, #more1, #more2, #more3  {display: none;} /*hides the text of the read more*/
button {
        background-color: transparent;
        border:none;
        color: white;
}


